@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Bungee+Spice&family=Gideon+Roman&family=Italianno&family=Lisu+Bosa:wght@200&family=Schoolbell&display=swap');

body {
    background-image: url(img/fotomedico.png), url(img/fundoconsultorio.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -9px;
    background-size: auto, cover;
}

h1 {
    text-align: center;
    font-style: italic;
    color: antiquewhite;
    font-size: 25px;
}

.div1 p,
.div2 p,
.div3 p {
    border: 2px solid black;
    border-radius: 3%;
    font-family: 'Lisu Bosa', serif;
    font-size: 18px;
    max-width: 30%;
    background: white;
    color: rgb(48, 34, 34);
    animation: flutuacao 5s infinite linear alternate;
    box-shadow: 0 0 15px rgb(15, 51, 255);
    position: absolute;
    margin: 0;
    padding: 10px;
}

.div1 p {
    left: 1%;
    top: 450px;
}

.div2 p {
    left: 35%;
    top: 450px;
}

.div3 p {
    left: 68%;
    top: 450px;
}

a {
    text-decoration: none;
    background: green;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out, transform 0.3s ease-in-out;
    left: 43%;
    top: 670px;
    display: inline-block; /* Adicionado display inline-block */
    padding: 10px 20px; /* Ajustado o padding */
}

a:hover {
    background: #ffffff;
    color: red;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(15, 255, 47);
}

@keyframes flutuacao {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
}
